*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.4s; */
}

h1{
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.hamburger{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.lines{
    width: 50px;
    height: 3px;
    background-color: #94d0cc;
    margin: 5px;
    border-radius: 3px;

}

.fas{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    color: blue;
    cursor: pointer;
}

.navigation-bar{
    position: fixed;
    background-color:  #94d0cc;
    /* width: 30%;
    height: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
    right:0;
    visibility: hidden;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;    color: white;
    
    
}

.navigation-bar ul{
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.navigation-bar li{
    padding: 20px;
    width: 100%;
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: white;
}
.navigation-bar li:hover{
    background-color: gray;
}

.visible{
    display: block;
    height: 100%;
    /* -webkit-transition: all 2.5s ease-in-out;
    -moz-transition: all 2.5s ease-in-out;
    -ms-transition: all 2.5s ease-in-out;
    -o-transition: all 2.5s ease-in-out;
    transition: all 2.5s ease-in-out; */

}

.title{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(images/paint-brush.jpg);    
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
}
.title h1{
    font-family: 'Sacramento', cursive;
    width: 500px;
    text-align: center;
    font-size: 10rem;
    font-weight: lighter;
    line-height: 150px;
}

.title h2{
    width: 277px;
    letter-spacing: 2px;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    /* padding-bottom: 100px; */
}

.title hr{
    width: 10%;
    border: none;
    border-bottom: 6px dotted #94d0cc;
    margin: 10px 0px;
    margin-top: 120px;
    /* padding-top: 20px; */
}


/* **********************ABOUT ME*************** */

.about-me{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    background-image: url("images/Untitled\ design\ \(1\).jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right 50%;
}

.about-me-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.heading {
    font-size: 4rem;
    letter-spacing: 5px;
    font-weight: bolder;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.tme{
    color: white;
}

.about-me-content {

}

.about-me-content p{
    width: 50%;
    padding: 70px;
    text-align: justify;
    margin-right: 20px;
    font-size: 25px;
    letter-spacing: .5px;
}

.about-me-content img{
    width: 50%;
    height: auto;
    padding: 100px;
    /* background-image: url("images/Untitled\ design\ \(1\).jpg");
    background-size: cover; */
}

/* *********************************PORTFOLIO*************************** */
.portfolio{
    width: 100%;
    height: 100vh;
}
.project-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 30px;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.row li{
    margin: 10px;
}

.row li a img{
    box-shadow: 10px 10px 10px gray;
}

.row li a img:hover{
    transform: translateY(-10px);
    box-shadow: 15px 20px 15px gray;
    transition: all .5s;
}

/* *************************************CONTACT ME******************* */

.contact-me{
    width: 100%;
    height: 80vh;
    background-color: #94d0cc;
    align-items: center;
    
}

.card{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-card{
    
    width: 60%;
    height: 70%;
    background-image: url("images/page.png");
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    /* background-position: 50% 50%; */
}

.details-card a{
    margin: 20px;
}

.far,.fab{
    font-size: 3rem;
    /* margin: 20px; */
    color: #013759;
}

.far:hover{
    transform: translate(2, 3)
}
/* ****************************FOOTER************************ */

footer{
    height: 20vh;
    width: 100%;
    background-color: #013759;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ***************************************MEDIA QUERY******************* */



/* @media screen and (min-width:768px) and (max-width: 1024px){
    .about-me p{
        font-size: 15px;
    }
    
} */

@media screen and (max-width: 1024px){
    .tme{
        color: black;
    }
    .about-me-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    .about-me img{
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        background-image: url("images/Untitled\ design\ \(1\).jpg");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;

    }
    .about-me p{
        width: 100%;
        padding-top: 0;
    }

    .about-me{
        background: none;
    }
    .about-me .heading{
        margin-bottom: 10px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .portfolio{
        height: auto;
    }
    .title h1{
        font-size: 6rem;
    }
    .heading{
        font-size: 3rem;
    }
    .details-card{
        /* flex-wrap: wrap; */
        width: 800px;
        height: 400px;
    }

    .details-card i{
        font-size: 45px;
    }
}
























/* 
@media screen and (max-width : 1200px) {
    .title{
        /* background-color: orange; 
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(images/paint-brush.jpg);
        background-size: cover;
        width: 100%;
        
       

    }
    .title h1{
        font-size: 7rem;
        width: 500px;
    }
    .title h2{
        letter-spacing: 2px;
        font-size: 1.5rem;
        text-align: center;
    }
    .navigation-bar{
        width: 100%;
    }

    .about-me p{
        font-size: 1rem;
    }
    .about-me-content img{
        padding: 50px;
    }
    
    
}


@media screen and (max-width : 800px) {
    .title{
        /* background-color: orange; 
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(images/paint-brush.jpg);
        background-size: cover;
        width: 100%;
       

    }
    .navigation-bar{
        width: 100%;
        
    }
    .title h1{
        font-size: 4rem;
        width: 300px;
    }
    .title h2{
        letter-spacing: 2px;
        font-size: 1rem;
    }
    .about-me p{
        font-size: 1rem;
        width: 100%;
        align-items: center;
        text-align: justify;
        padding: 20px;
        margin-left: 10px;
        color: white;
        font-weight: bold;
    }
    .about-me{
        /* background-position: center 50% ; 
        background-size: cover;
        height: 100%;
    }

    .about-me .heading{
        font-size: 3rem;
        margin-bottom: 20px;
        color: white;
    }
    .about-me-content img{
        width: 80%;
        padding: 5px;
    }
    .about-me-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    
    
    
}


 */
