*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.4s; */
}

h1{
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
  }
  

/* *********************hamburger navigation***********************) */

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
  







/* **************************************Header********************************* */
.title{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(images/paint-brush.jpg);    
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    
}
.title .head h1{
    font-family: 'Sacramento', cursive;
    width: 700px;
    height: 150px;
    text-align: center;
    font-size: 0.3rem;
    font-weight: lighter;
    line-height: 150px;
    /* display: none; */
    transition: transform 2s ease-in-out;
}

.title h2{
    width: 277px;
    letter-spacing: 2px;
    font-size: 2rem;
    transform: translateY(800px);
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    transition: transform 1.7s ease-in-out;
    
    /* padding-bottom: 100px; */
}

.title hr{
    /* width: 10%; */
    width: 0;
    border: none;
    border-bottom: 6px dotted #94d0cc;
    margin: 10px 0px;
    margin-top: 120px;
    transition: width 1s ease-in-out;
    /* padding-top: 20px; */
}


/* ******************************************ABOUT ME*************************************** */

.about-me{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    background-image: url("images/Untitled\ design\ \(1\).jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right 50%;
}

.about-me-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.heading {
    font-size: 4rem;
    letter-spacing: 5px;
    font-weight: bolder;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.tme{
    color: white;
}


.about-me-content p{
    width: 50%;
    padding: 70px;
    text-align: justify;
    margin-right: 20px;
    font-size: 25px;
    letter-spacing: .5px;
}

.about-me-content img{
    width: 50%;
    height: auto;
    padding: 100px;
    /* background-image: url("images/Untitled\ design\ \(1\).jpg");
    background-size: cover; */
}

/* *********************************PORTFOLIO**************************************** */
.portfolio{
    width: 100%;
    height: 100vh;
}
.project-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 30px;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.row li{
    margin: 10px;
}

.row li a img{
    box-shadow: 10px 10px 10px gray;
}

.row li a img:hover{
    transform: translateY(-10px);
    box-shadow: 15px 20px 15px gray;
    transition: all .5s;
}

/* *************************************CONTACT ME************************************* */

.contact-me{
    width: 100%;
    height: 80vh;
    background-color: #94d0cc;
    align-items: center;
    
}

.card{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-card{
    
    width: 60%;
    height: 70%;
    background-image: url("images/page.png");
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    /* background-position: 50% 50%; */
}

.details-card a{
    margin: 20px;
}

.far,.fab{
    font-size: 3rem;
    /* margin: 20px; */
    color: #013759;
}

.far:hover{
    transform: translate(2, 3)
}
/* ***********************************************FOOTER********************************************* */

footer{
    height: 20vh;
    width: 100%;
    background-color: #013759;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ***************************************MEDIA QUERY*************************************** */



/* @media screen and (min-width:768px) and (max-width: 1024px){
    .about-me p{
        font-size: 15px;
    }
    
} */

@media screen and (max-width: 1024px){
    /* .tme{
        color: black;
    } */
    .about-me-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }

    .about-me{
        
        width: 100%;
        height: 100%;
        background-image: url("images/use.jpg");
        background-size: cover;
        /* background-size: 50%; */
        background-repeat: no-repeat;
        /* background-position: top; */
        
    }
    

    .about-me img{
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        

    }
    .about-me p{
        width: 100%;
        padding-top: 0;
        color: white;
        font-size: 2rem;
    }

    /* .about-me{
        background: none;
    } */
    .about-me .heading{
        margin-bottom: 10px;
        color: white;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .portfolio{
        height: auto;
    }
    .title .head h1{
        /* margin-top: 10px; */
        font-size: 0.3rem;
    }
    .title h2{
        /* margin: 5px; */
        font-size: 3rem;
        text-align: center;
        width: 450px;
    }
    .heading{
        font-size: 3rem;
    }
    .details-card{
        /* flex-wrap: wrap; */
        width: 800px;
        height: 400px;
    }

    .details-card i{
        font-size: 80px;
    }
    .hamburger div{
        height: 8px;
    }
}
